.cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 20rem;
    overflow: scroll;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
    margin: 1rem 0;
}

.actions {
    text-align: right;
}

.actions button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #F26430;
    padding: 0.5rem 2rem;
    border-radius: 20px;
    margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
    background-color: #D93829;
    border-color: #F26430;
    color: #F2E8C9;
}

.actions .button--alt {
    color: #8a2b06;
  }
  
  .actions .button {
    background-color: #8a2b06;
    color: white;
  }